.date
{
    width : 15%;
}

.contents_title
{
    font-size : 1.2rem;
    font-weight: bold;
    margin-top : 10px;
}

.contents_text
{
    background-color : #fff;
    margin-top : 10px;
    padding : 3% 5%;
    border-radius: 10px;
}

p {
    margin: 1.2em;
}

h2 {
    padding: 0.4em 0.5em;
    margin-top: 1.6em;
    margin-bottom: 0.8em;
    color: #494949;
    background: #ddd;
    border-left: solid 5px #007000;
    border-bottom: solid 3px #d7d7d7;
}
